# 1. Create dataset

## Setup

In [1]:
library(tidyverse)
library(feather)

year <- lubridate::year

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
incidents_file <- "../../../data/incidents_2019-08-11.feather"
pipelines_file <- "../../../data/pipelines_2010_2019-08-16.feather"
largest_observations_file = "../../../preprocessed_data/largest_companies_2019-09-08.feather"
company_groups_file <- "../../../preprocessed_data/company_groups_2019-08-18.feather"
m_as_file <- "../../../preprocessed_data/m_as_2019-08-18.feather"

## Read data

In [3]:
incidents <- read_feather(incidents_file)
head(incidents[1:20], 3)

Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”

  DATAFILE_AS_OF      SIGNIFICANT SERIOUS IPE IA_IPE OM_IPE REPORT_NUMBER
1 2019-07-31 04:37:40 NO          NO      NO  NO     NO     20100001
2 2019-07-31 04:37:40 NO          NO      NO  NO     NO     20100002
3 2019-07-31 04:37:40 YES         NO      NO  NO     NO     20100003
  SUPPLEMENTAL_NUMBER REPORT_RECEIVED_DATE REPORT_TYPE        OPERATOR_ID
1 15751               2010-03-10 08:05:46  SUPPLEMENTAL FINAL 22610
2 19837               2010-03-16 13:43:54  SUPPLEMENTAL FINAL 31672
3 18021               2010-03-17 06:38:15  SUPPLEMENTAL FINAL 32035
  NAME                          OPERATOR_STREET_ADDRESS
1 MAGELLAN PIPELINE COMPANY, LP MAGELLAN MIDSTREAM PARTNERS, L.P.
2 CHAPARRAL ENERGY, LLC         701 CEDAR LAKE BLVD
3 LDH ENERGY PIPELINE L.P.      13430 NORTHWEST FREEWAY   SUITE 1200
  OPERATOR_CITY_NAME OPERATOR_STATE_ABBREVIATION OPERATOR_POSTAL_CODE
1 TULSA              OK                          74172
2 OKLAHOMA CITY      OK                          73114
3 HOUSTON            TX                          77040-6019
  LOCAL_DATETIME      IYEAR LOCATION_LATITUDE LOCATION_LONGITUDE
1 2010-02-16 02:42:00 2010  41.94352           -88.23353
2 2010-03-01 06:50:00 2010  37.10847          -100.80037
3 2010-02-22 05:38:00 2010  32.22471          -101.40440

In [4]:
pipelines <- feather::read_feather(pipelines_file)
head(pipelines, 3)

Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”

  DATAFILE_AS_OF      REPORT_YEAR REPORT_NUMBER SUPPLEMENTAL_NUMBER OPERATOR_ID
1 2019-07-01 07:28:09 2017        20183395      16429               300
2 2019-07-01 07:28:09 2017        20183396      15929               300
3 2019-07-01 07:28:09 2017        20183397      15930               300
  PARTA2NAMEOFCOMP      PARTA4STREET                PARTA4CITY PARTA4STATE
1 PLAINS PIPELINE, L.P. 333 CLAY STREET, SUITE 1600 HOUSTON    TX
2 PLAINS PIPELINE, L.P. 333 CLAY STREET, SUITE 1600 HOUSTON    TX
3 PLAINS PIPELINE, L.P. 333 CLAY STREET, SUITE 1600 HOUSTON    TX
  PARTA4ZIP ⋯ PARTE2010HF PARTE2010LF PARTE2010TOTAL PARTETOTAL PARTETOTALHF
1 77002     ⋯ 3107.93     0           3107.93        6207.50    4396.35
2 77002     ⋯   47.92     0             47.92          47.93      47.93
3 77002     ⋯    0.00     0              0.00           3.72       3.72
  PARTETOTALLF REPORT_SUBMISSION_TYPE REPORT_DATE         FILING_DATE
1 1811.15      SUPPLEMENTAL           2018-06-13 07:30:58 2019-04-09 09:25:41
2    0.00      INITIAL                2018-06-13 07:34:52 2018-06-13 07:34:52
3    0.00      INITIAL                2018-06-13 07:36:19 2018-06-13 07:36:19
  FORM_REV
1 7000-1.1 (Rev. 06-2014)
2 7000-1.1 (Rev. 06-2014)
3 7000-1.1 (Rev. 06-2014)

In [5]:
sample_observations <- read_feather(largest_observations_file)
head(sample_observations, 5)

  OPERATOR_ID YEAR NAME                              TOTAL_MILES
1 31618       2018 ENTERPRISE PRODUCTS OPERATING LLC 8311.369
2 32109       2018 ONEOK NGL PIPELINE, LLC           4756.610
3 31684       2005 PHILLIPS 66 PIPELINE LLC          4691.000
4 22610       2014 MAGELLAN PIPELINE COMPANY, LP     4505.500
5 2552        2015 COLONIAL PIPELINE CO              4500.920

In [6]:
company_groups <- read_feather(company_groups_file)
head(company_groups)

  members name
1 31618   Enterprise Products (Group)
2 30829   Enterprise Products (Group)
3 3445    Enterprise Products (Group)
4 1845    Buckeye (Group)
5 31371   Buckeye (Group)
6 32147   Marathon (Group)

In [7]:
m_as <- read_feather(m_as_file)
head(m_as)

  members                 name                  start_year end_year
1 Marathon (Group)        Marathon (Group)      2018       NA
2 Tesoro (Group)          Marathon (Group)      2018       NA
3 Sunoco (Group)          Sunoco (Group)        2017       NA
4 Energy Transfer (Group) Sunoco (Group)        2017       NA
5 Kinder Morgan (Group)   Kinder Morgan (Group) NA         2013
6 31720                   Kinder Morgan (Group) NA         2013

## Define functions

In [8]:
get_latest_name <- function(dataset, id_col, name_col, time_col){
    quo_id_col <- enquo(id_col)
    quo_name_col <- enquo(name_col)
    quo_time_col <- enquo(time_col)
    
    dataset <- dataset %>%
        group_by(!! quo_id_col) %>%
        arrange(desc(!! quo_time_col)) %>%
        mutate(!! quo_name_col := first(!! quo_name_col))
    
    return(dataset)
}

In [9]:
merge_incidents <- function(dataset, incidents_dataset, id_col = "OPERATOR_ID", year_col = "REPORT_YEAR",
                            date_col = "LOCAL_DATETIME", significant_col = "SIGNIFICANT", serious_col = "SERIOUS", 
                            significant_count = "Significant incidents", serious_count = "Serious incidents"){
    significant_name <- quo_name(significant_count)
    serious_name <- quo_name(serious_count)
    
    incidents_dataset[[significant_col]] <- incidents_dataset[[significant_col]] == "YES"
    incidents_dataset[[serious_col]] <- incidents_dataset[[serious_col]] == "YES"
    incidents_dataset[[year_col]] <- year(incidents_dataset[[date_col]])
    
    incidents_dataset <- incidents_dataset %>%
        group_by(!! sym(id_col), !! sym(year_col)) %>%
        summarize(!! significant_name := sum(get(significant_col)), 
                  !! serious_name := sum(get(serious_col)))
    
    dataset <- left_join(dataset, incidents_dataset, by=c(id_col, year_col)) %>%
        mutate(!! significant_name := coalesce(get(significant_count), 0L), 
               !! serious_name := coalesce(get(serious_count), 0L))
    
    dataset
}

In [10]:
create_dataset <- function(pipelines_dataset, incidents_dataset, variables, variable_names, commodity_names,
                           undesired_company_endings, 
                           groups = company_groups$members, m_a = m_as$members, sample = sample_observations, 
                           id_col = "ID", commodity_col = "Commodity", name_col = "Name"){
    dataset <- select(pipelines_dataset, variables)
    dataset <- merge_incidents(dataset, incidents_dataset)
    dataset <- rename(dataset, !!! variable_names)
    
    dataset <- get_latest_name(dataset, ID, Name, Year)
    
    dataset[[commodity_col]] = recode(dataset[[commodity_col]], !!! commodity_names)
    
    dataset$in_group <- dataset[[id_col]] %in% groups
    dataset$in_m_a <- dataset[[id_col]] %in% m_a
    dataset$Group <- dataset$in_group | dataset$in_m_a
    
    dataset[[name_col]] = str_remove_all(dataset[[name_col]], undesired_company_endings)
    dataset[[name_col]] = str_to_title(dataset[[name_col]])
    
    dataset$Sample <- dataset[[id_col]] %in% sample$OPERATOR_ID
    dataset$Largest <- dataset[[id_col]] %in% sample$OPERATOR_ID[1:5]
    
    return(dataset)
}

## Run

In [11]:
variables <- c("REPORT_YEAR", "OPERATOR_ID", "PARTA2NAMEOFCOMP", "PARTBHCATOTAL", "PARTEPRE40TOTAL", "PARTE1940TOTAL", 
               "PARTE1950TOTAL", "PARTE1960TOTAL", "PARTE1970TOTAL", "PARTE1980TOTAL", "PARTE1990TOTAL", 
               "PARTE2000TOTAL", "PARTE2010TOTAL", "PARTA5COMMODITY")

variable_names <- c("Year" = "REPORT_YEAR", 
                    "ID" = "OPERATOR_ID", 
                    "Name" = "PARTA2NAMEOFCOMP", 
                    "HCA Miles" = "PARTBHCATOTAL", 
                    "Pre 1940 Miles" = "PARTEPRE40TOTAL", 
                    "1940 Miles" = "PARTE1940TOTAL", 
                    "1950 Miles" = "PARTE1950TOTAL", 
                    "1960 Miles" = "PARTE1960TOTAL",
                    "1970 Miles" = "PARTE1970TOTAL",
                    "1980 Miles" = "PARTE1980TOTAL",
                    "1990 Miles" = "PARTE1990TOTAL",
                    "2000 Miles" = "PARTE2000TOTAL",
                    "2010 Miles" = "PARTE2010TOTAL", 
                    "Commodity" = "PARTA5COMMODITY")

commodity_names <- c("Fuel Grade Ethanol (dedicated system)" = "Biofuel", 
                     "CO2" = "CO2",
                     "Crude Oil" = "Crude", 
                     "HVL" = "Propane, Butane, etc.", 
                     "Refined and/or Petroleum Product (non-HVL)" = "Gasoline, Diesel, etc.")

undesired_company_endings <- c(" L. P.| L.L.C.|, LLC|, L.P.| L.P.|, LP|LP|LLC|, LIMITED PARTNERSHIP|, A DIVISION OF EXXON MOBIL CORPORATION")

In [12]:
dataset <- create_dataset(pipelines, incidents, variables, variable_names, commodity_names, undesired_company_endings)
head(dataset)

ERROR: Error in str_remove_all(dataset[[name_col]], undesired_company_endings): argument "undesired_company_endings" is missing, with no default

In [ ]:
write_feather(dataset, paste0("../pipelines_dashboard/data/dataset_", Sys.Date(), ".feather"))