# 11. Data exploration - model (numeric)

In [1]:
library(tidyverse)
library(kableExtra)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘kableExtra’

The following object is masked from ‘package:dplyr’:

    group_rows

In [2]:
options(repr.plot.width=4, repr.plot.height=3)

In [3]:
sample_file <- "../preprocessed_data/sample_combined_2019-09-16.feather"

In [4]:
today <- Sys.Date()

## Read data

In [5]:
sample <- feather::read_feather(sample_file)
glimpse(sample)

Observations: 786
Variables: 110
$ YEAR                          <dbl> 2015, 2015, 2015, 2015, 2015, 2015, 201…
$ OPERATOR_ID                   <fct> 1248, 14194, 15156, 19319, 22430, 22855…
$ CRUDE_AGE_UNKNOWN_MILES       <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 0.00…
$ CRUDE_AVG_AGE                 <dbl> 38.587502, 0.000000, 38.549180, 0.00000…
$ CRUDE_INCIDENTS               <dbl> 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, …
$ CRUDE_MILES                   <dbl> 64.000, 0.000, 211.000, 0.000, 3.582, 7…
$ CRUDE_MILES_1940              <dbl> 0.0, 0.0, 79.0, 0.0, 0.0, 0.0, 0.0, 0.0…
$ CRUDE_MILES_1950              <dbl> 0.000, 0.000, 10.000, 0.000, 3.554, 213…
$ CRUDE_MILES_1960              <dbl> 359.000, 0.000, 168.000, 0.000, 0.023, …
$ CRUDE_MILES_1970              <dbl> 149.000, 0.000, 113.000, 0.000, 0.000, …
$ CRUDE_MILES_1980              <dbl> 63.000, 0.000, 0.000, 0.000, 0.000, 767…
$ CRUDE_MILES_1990              <dbl> 18.000, 0.000, 15.000, 0.000, 0.000, 76…
$ CRUDE_MILES_2000              <dbl> 35.000, 0.000, 112.000, 0.000, 0.000, 3…
$ CRUDE_MILES_2010              <dbl> 63.000, 0.000, 34.000, 0.000, 0.005, 10…
$ CRUDE_SIGNIFICANT_INCIDENTS   <dbl> 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, …
$ HVL_AGE_UNKNOWN_MILES         <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 0.00…
$ HVL_AVG_AGE                   <dbl> 0.000000, 0.000000, 0.000000, 37.142857…
$ HVL_INCIDENTS                 <dbl> 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, …
$ HVL_MILES                     <dbl> 0.000, 0.000, 0.000, 112.650, 0.000, 41…
$ HVL_MILES_1940                <dbl> 0.000, 0.000, 0.000, 1.720, 0.000, 1.98…
$ HVL_MILES_1950                <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 0.87…
$ HVL_MILES_1960                <dbl> 0.000, 0.000, 0.000, 0.300, 0.000, 185.…
$ HVL_MILES_1970                <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 107.…
$ HVL_MILES_1980                <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 312.…
$ HVL_MILES_1990                <dbl> 0.000, 0.000, 0.000, 3.500, 0.000, 51.5…
$ HVL_MILES_2000                <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 7.31…
$ HVL_MILES_2010                <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 33.9…
$ HVL_SIGNIFICANT_INCIDENTS     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ NON_HVL_AGE_UNKNOWN_MILES     <dbl> 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 12.9…
$ NON_HVL_AVG_AGE               <dbl> 39.3369294, 9.9786780, 35.8550483, 0.00…
$ NON_HVL_INCIDENTS             <dbl> 0, 0, 1, 0, 1, 1, 0, 27, 10, 0, 0, 0, 0…
$ NON_HVL_MILES                 <dbl> 0.000, 4.680, 353.000, 18.352, 402.507,…
$ NON_HVL_MILES_1940            <dbl> 0.000, 0.000, 24.000, 0.000, 0.000, 2.0…
$ NON_HVL_MILES_1950            <dbl> 0.000, 0.000, 0.000, 0.000, 21.000, 0.2…
$ NON_HVL_MILES_1960            <dbl> 49.000, 0.000, 200.000, 0.000, 251.510,…
$ NON_HVL_MILES_1970            <dbl> 0.000, 0.000, 56.000, 0.000, 69.334, 1.…
$ NON_HVL_MILES_1980            <dbl> 0.000, 0.000, 0.000, 0.000, 3.298, 826.…
$ NON_HVL_MILES_1990            <dbl> 27.000, 0.000, 45.000, 0.000, 3.247, 36…
$ NON_HVL_MILES_2000            <dbl> 0.000, 4.680, 110.000, 0.000, 0.224, 4.…
$ NON_HVL_MILES_2010            <dbl> 0.000, 0.000, 9.000, 0.000, 0.614, 1.07…
$ NON_HVL_SIGNIFICANT_INCIDENTS <dbl> 0, 0, 1, 0, 1, 1, 0, 8, 4, 0, 0, 0, 0, …
$ SIGNIFICANT_INCIDENTS         <dbl> 1, 0, 1, 0, 1, 2, 0, 8, 4, 1, 0, 0, 0, …
$ ADDED                         <dbl> 0.000, 0.000, 0.000, 0.889, 0.000, 9.74…
$ REMOVED                       <dbl> -1.000, 0.000, -14.000, -111.938, 0.000…
$ TOTAL_MILES                   <dbl> 763.000, 4.680, 975.000, 5.520, 352.809…
$ ADDED_PERC                    <dbl> 0.000000e+00, 0.000000e+00, 0.000000e+0…
$ REMOVED_PERC                  <dbl> -0.001283697, 0.000000000, -0.015005359…
$ CHANGE_TOTAL                  <dbl> -1.000, 0.000, -14.000, -111.049, 0.000…
$ CHANGE_PERC                   <dbl> -1.308901e-03, 0.000000e+00, -1.415571e…
$ MEAN_CHANGE_3                 <dbl> 0.001313481, 0.000000000, -0.011391911,…
$ CHANGE_SD                     <dbl> 4.912316e-04, 0.000000e+00, 1.235392e-0…
$ CHANGE_SD_SQ                  <dbl> 2.413085e-07, 0.000000e+00, 1.526193e-0…
$ CHANGE_EXP                    <dbl> 1.000491, 1.000000, 1.000124, 1.361539,…
$ INC_3                         <dbl> 3, 0, 4, 0, 1, 10, 0, 15, 11, 1, 0, 0, …
$ INC_4                         <dbl> 4, 0, 5, 0, 3, 12, 0, 18, 17, 1, 1, 0, …
$ INC_5                         <dbl> 8, 0, 5, 0, 5, 12, 1, 20, 20, 1, 1, 0, …
$ DISC_ADDED                    <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ DISC_ADDED_ALT                <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ DISC_ADDED_ALT2               <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ REMOVED_ADJ                   <dbl> 0.001283697, 0.000000000, 0.015005359, …
$ CONSOLIDATE                   <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ CRUDE_MILES_3                 <dbl> 332.000, 40.620, 559.000, 0.000, 10.746…
$ HVL_MILES_3                   <dbl> 0.000, 0.000, 0.000, 343.020, 0.000, 11…
$ NON_HVL_MILES_3               <dbl> 0.000, 45.680, 1032.000, 55.444, 1213.6…
$ CRUDE_AVG_AGE_3               <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ HVL_AVG_AGE_3                 <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ NON_HVL_AVG_AGE_3             <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ NO_CRUDE                      <lgl> FALSE, FALSE, FALSE, TRUE, FALSE, FALSE…
$ NO_HVL                        <lgl> TRUE, TRUE, TRUE, FALSE, TRUE, FALSE, F…
$ NO_NON_HVL                    <lgl> TRUE, FALSE, FALSE, FALSE, FALSE, FALSE…
$ M_A                           <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALS…
$ M_A_1                         <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALS…
$ M_A_2                         <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALS…
$ M_A_3                         <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALS…
$ M_A_past_3                    <lgl> FALSE, FALSE, FALSE, FALSE, FALSE, FALS…
$ ADDED_1                       <dbl> 0.000000e+00, 0.000000e+00, 0.000000e+0…
$ ADDED_2                       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ ADDED_3                       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ MEAN_ADDED_3                  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ SD_ADDED_3                    <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ SD_ADDED_3_EXP                <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ SD_ADDED_3_EXP_SQ             <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ SDxADDED                      <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ CRUDExAGE                     <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ HVLxAGE                       <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ NON_HVLxAGE                   <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA,…
$ CRUDE_MILES_1940_3            <dbl> 0.0, 0.0, 151.0, 0.0, 0.0, 0.0, 0.0, 0.…
$ CRUDE_MILES_1950_3            <dbl> 0.000, 0.000, 10.000, 0.000, 10.662, 63…
$ CRUDE_MILES_1960_3            <dbl> 924.000, 0.000, 518.000, 0.000, 0.069, …
$ CRUDE_MILES_1970_3            <dbl> 486.000, 29.160, 341.000, 0.000, 0.000,…
$ CRUDE_MILES_1980_3            <dbl> 185.000, 7.260, 0.000, 0.000, 0.000, 24…
$ CRUDE_MILES_1990_3            <dbl> 59.000, 0.000, 49.000, 0.000, 0.000, 22…
$ CRUDE_MILES_2000_3            <dbl> 99.000, 4.200, 342.000, 0.000, 0.000, 9…
$ CRUDE_MILES_2010_3            <dbl> 122.000, 0.000, 66.000, 0.000, 0.015, 3…
$ HVL_MILES_1940_3              <dbl> 0.000, 0.000, 0.000, 5.160, 0.000, 5.94…
$ HVL_MILES_1950_3              <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 2.61…
$ HVL_MILES_1960_3              <dbl> 0.000, 0.000, 0.000, 0.900, 0.000, 546.…
$ HVL_MILES_1970_3              <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 322.…
$ HVL_MILES_1980_3              <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 988.…
$ HVL_MILES_1990_3              <dbl> 0.000, 0.000, 0.000, 10.500, 0.000, 114…
$ HVL_MILES_2000_3              <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 21.9…
$ HVL_MILES_2010_3              <dbl> 0.000, 0.000, 0.000, 0.000, 0.000, 36.5…
$ NON_HVL_MILES_1940_3          <dbl> 0.000, 0.000, 49.000, 0.000, 0.000, 5.5…
$ NON_HVL_MILES_1950_3          <dbl> 0.000, 0.000, 12.000, 0.000, 63.152, 0.…
$ NON_HVL_MILES_1960_3          <dbl> 147.000, 0.000, 600.000, 0.000, 755.763…
$ NON_HVL_MILES_1970_3          <dbl> 0.000, 0.000, 179.000, 0.000, 150.046, …
$ NON_HVL_MILES_1980_3          <dbl> 0.000, 0.000, 3.000, 0.000, 9.894, 2478…
$ NON_HVL_MILES_1990_3          <dbl> 80.000, 16.740, 138.000, 0.000, 9.740, …
$ NON_HVL_MILES_2000_3          <dbl> 0.000, 28.940, 188.000, 0.000, 0.672, 1…
$ NON_HVL_MILES_2010_3          <dbl> 0.000, 0.000, 114.000, 0.000, 0.983, 2.…

## 11.1 Correlation matrix

In [6]:
variables1 <- c("INC_3", "CHANGE_SD", "CHANGE_SD_SQ", "DISC_ADDED", "CONSOLIDATE", "M_A", "M_A_2", "CRUDE_MILES_3", "CRUDE_AVG_AGE_3", 
                "CRUDExAGE", "HVL_MILES_3", "HVL_AVG_AGE_3", "HVLxAGE", "NON_HVL_MILES_3", "NON_HVL_AVG_AGE_3", "NON_HVLxAGE", "NO_CRUDE", 
                "NO_HVL", "NO_NON_HVL")
variable_names1 <- c("Incidts", "Adj.", "Adj sq.", "Miles add", "Consolid.", "MA", "MA t-1", 
                     "Miles Crude", "Age Crude", "MxA Crude", "M. HVL", "A. HVL", "MxA HVL", "M. Non-HVL", 
                     "A. Non-HVL", "MxA Non-HVL", "No Crude", "No HVL", "No Non-HVL")

In [7]:
mean_model1 <- sapply(select(sample, variables1), mean, na.rm=TRUE)
mean_model1 <- round(mean_model1, 2)
names(mean_model1) <- variable_names1
head(mean_model1)

  Incidts      Adj.   Adj sq. Miles add Consolid.        MA
     4.71      0.16      0.38      0.25      0.72      0.02

In [8]:
sd_model1 <- sapply(select(sample, variables1), sd, na.rm=TRUE)
sd_model1 <- round(sd_model1, 2)
names(sd_model1) <- variable_names1
head(sd_model1)

  Incidts      Adj.   Adj sq. Miles add Consolid.        MA
     7.68      0.59      2.62      0.41      2.71      0.14

In [9]:
model1 <- sample %>%
    select(variables1) %>%
    as.matrix %>%
    cor(use="pairwise.complete.obs") %>%
    {round(., 2)}
model1[upper.tri(model1)] <- ""
colnames(model1) <- variable_names1
rownames(model1) <- variable_names1
head(model1)

          Incidts Adj.  Adj sq. Miles add Consolid. MA MA t-1 Miles Crude
Incidts   1
Adj.      -0.06   1
Adj sq.   -0.06   0.93  1
Miles add -0.04   0.31  0.16    1
Consolid. -0.1    0.06  -0.02   0.39      1
MA        0.19    -0.02 -0.02   0.01      -0.02     1
          Age Crude MxA Crude M. HVL A. HVL MxA HVL M. Non-HVL A. Non-HVL
Incidts
Adj.
Adj sq.
Miles add
Consolid.
MA
          MxA Non-HVL No Crude No HVL No Non-HVL
Incidts
Adj.
Adj sq.
Miles add
Consolid.
MA

In [10]:
model1 <- cbind("Mean" = mean_model1, "SD" = sd_model1, model1)
head(model1)

          Mean SD   Incidts Adj.  Adj sq. Miles add Consolid. MA MA t-1
Incidts   4.71 7.68 1
Adj.      0.16 0.59 -0.06   1
Adj sq.   0.38 2.62 -0.06   0.93  1
Miles add 0.25 0.41 -0.04   0.31  0.16    1
Consolid. 0.72 2.71 -0.1    0.06  -0.02   0.39      1
MA        0.02 0.14 0.19    -0.02 -0.02   0.01      -0.02     1
          Miles Crude ⋯ MxA Crude M. HVL A. HVL MxA HVL M. Non-HVL A. Non-HVL
Incidts               ⋯
Adj.                  ⋯
Adj sq.               ⋯
Miles add             ⋯
Consolid.             ⋯
MA                    ⋯
          MxA Non-HVL No Crude No HVL No Non-HVL
Incidts
Adj.
Adj sq.
Miles add
Consolid.
MA

In [11]:
model1_tex <- capture.output(kable(model1, "latex", booktabs=T) %>%
    kable_styling(latex_options=c("scale_down")))

In [12]:
writeLines(model1_tex, "../drafts/summer_paper/illustrations/summary1.tex")

## Model 2

In [13]:
variables2 <- c("INC_3", "CHANGE_SD", "CHANGE_SD_SQ", "DISC_ADDED", "CONSOLIDATE", "M_A", "M_A_2", "CRUDE_MILES_1940_3", "CRUDE_MILES_1950_3", 
                "CRUDE_MILES_1960_3", "CRUDE_MILES_1970_3", "CRUDE_MILES_1980_3", "CRUDE_MILES_1990_3", "CRUDE_MILES_2000_3", 
                "CRUDE_MILES_2010_3", "HVL_MILES_1940_3", "HVL_MILES_1950_3", "HVL_MILES_1960_3", "HVL_MILES_1970_3", "HVL_MILES_1980_3",
                "HVL_MILES_1990_3", "HVL_MILES_2000_3", "HVL_MILES_2010_3", "NON_HVL_MILES_1940_3", "NON_HVL_MILES_1950_3", 
                "NON_HVL_MILES_1960_3", "NON_HVL_MILES_1970_3", "NON_HVL_MILES_1980_3", "NON_HVL_MILES_1990_3", "NON_HVL_MILES_2000_3", 
                "NON_HVL_MILES_2010_3")
variable_names2 <- c("Incidts", "Adj.", "Adj sq.", "Miles add", "Consolid.", "MA", "MA t-1", "Crude 40s", "Crude 50s", "Crude 60s",
                     "Crude 70s", "Crude 80s", "Crude 90s", "Crude 00s", "Crude 10s", "HVL 40s", "HVL 50s", "HVL 60s", "HVL 70s", 
                     "HVL 80s", "HVL 90s", "HLV 00s", "HVL 10s", "Non-HVL 40s", "Non-HVL 50s", "Non-HVL 60s", "Non-HVL 70s", "Non-HVL 80s", 
                     "Non-HVL 90s", "Non-HVL 00s", "Non-HVL 10s")

In [14]:
mean_model2 <- sapply(select(sample, variables2), mean, na.rm=TRUE)
mean_model2 <- round(mean_model2, 2)
names(mean_model2) <- variable_names2
head(mean_model2)

  Incidts      Adj.   Adj sq. Miles add Consolid.        MA
     4.71      0.16      0.38      0.25      0.72      0.02

In [15]:
sd_model2 <- sapply(select(sample, variables2), sd, na.rm=TRUE)
sd_model2 <- round(sd_model2, 2)
names(sd_model2) <- variable_names2
head(sd_model2)

  Incidts      Adj.   Adj sq. Miles add Consolid.        MA
     7.68      0.59      2.62      0.41      2.71      0.14

In [16]:
model2 <- sample %>%
    select(variables2) %>%
    as.matrix %>%
    cor(use="pairwise.complete.obs") %>%
    {round(., 2)}
model2[upper.tri(model2)] <- ""
colnames(model2) <- variable_names2
rownames(model2) <- variable_names2
head(model2)

          Incidts Adj.  Adj sq. Miles add Consolid. MA MA t-1 Crude 40s
Incidts   1
Adj.      -0.06   1
Adj sq.   -0.06   0.93  1
Miles add -0.04   0.31  0.16    1
Consolid. -0.1    0.06  -0.02   0.39      1
MA        0.19    -0.02 -0.02   0.01      -0.02     1
          Crude 50s Crude 60s ⋯ HLV 00s HVL 10s Non-HVL 40s Non-HVL 50s
Incidts                       ⋯
Adj.                          ⋯
Adj sq.                       ⋯
Miles add                     ⋯
Consolid.                     ⋯
MA                            ⋯
          Non-HVL 60s Non-HVL 70s Non-HVL 80s Non-HVL 90s Non-HVL 00s
Incidts
Adj.
Adj sq.
Miles add
Consolid.
MA
          Non-HVL 10s
Incidts
Adj.
Adj sq.
Miles add
Consolid.
MA

In [17]:
model2 <- cbind("Mean" = mean_model2, "SD" = sd_model2, model2)
head(model2)

          Mean SD   Incidts Adj.  Adj sq. Miles add Consolid. MA MA t-1
Incidts   4.71 7.68 1
Adj.      0.16 0.59 -0.06   1
Adj sq.   0.38 2.62 -0.06   0.93  1
Miles add 0.25 0.41 -0.04   0.31  0.16    1
Consolid. 0.72 2.71 -0.1    0.06  -0.02   0.39      1
MA        0.02 0.14 0.19    -0.02 -0.02   0.01      -0.02     1
          Crude 40s ⋯ HLV 00s HVL 10s Non-HVL 40s Non-HVL 50s Non-HVL 60s
Incidts             ⋯
Adj.                ⋯
Adj sq.             ⋯
Miles add           ⋯
Consolid.           ⋯
MA                  ⋯
          Non-HVL 70s Non-HVL 80s Non-HVL 90s Non-HVL 00s Non-HVL 10s
Incidts
Adj.
Adj sq.
Miles add
Consolid.
MA

In [18]:
model2_tex <- capture.output(kable(model2, "latex", booktabs=T) %>%
    kable_styling(latex_options=c("scale_down")))

In [19]:
writeLines(model2_tex, "../drafts/summer_paper/illustrations/summary2.tex")

## 11.3 List out a few operators

In [20]:
top_5 <- sample %>%
    group_by(OPERATOR_ID) %>%
    summarize(MILES = max(TOTAL_MILES)) %>%
    arrange(desc(MILES)) %>%
    top_n(5)
print(top_5)

Selecting by MILES

# A tibble: 5 x 2
  OPERATOR_ID            MILES
  <fct>                  <dbl>
1 31618                 13402.
2 ONEOK (Group)         10784.
3 Phillips 66 (Group)   10356
4 Magellan (Group)       9162
5 Kinder Morgan (Group)  7976.

In [21]:
sample %>%
    filter(OPERATOR_ID=="Magellan (Group)") %>%
    group_by(YEAR) %>%
    summarize(MILES = sum(MILES), INCIDENTS = sum(SIGNIFICANT_INCIDENTS))

ERROR: Error: object 'MILES' not found

In [ ]:
options(repr.plot.width=8, repr.plot.height=8)

In [ ]:
# For transforming
# Square function
sq <- function(x){x^2}
isq <- function(x){sqrt(x)}

shapes <- c(21, 22, 23, 24, 25)
names(shapes) <- c("Enterprise Products Operating", "ONEOK (Group)", "Phillips 66 (Group)", "Magellan (Group)", "NuStar (Group)")

plot <- sample %>%
    filter(OPERATOR_ID %in% top_5$OPERATOR_ID) %>%
    mutate(OPERATOR_ID = as.factor(OPERATOR_ID)) %>%
    mutate(OPERATOR_ID = recode(.$OPERATOR_ID, "31618" = "Enterprise Products Operating")) %>%
    ggplot(aes(x=YEAR, y=TOTAL_MILES, fill=OPERATOR_ID, size=SIGNIFICANT_INCIDENTS, shape=OPERATOR_ID)) +
        geom_point(alpha = 0.6) +
        geom_point(color='black', alpha=0.6) +
        geom_line(size=0.5) +
        scale_x_continuous(breaks = seq(2004, 2018, 3), lim=c(2004, 2018)) +
        labs(title="Pipeline Network and Significant Incidents of Largest 5 Operators", 
             x="Year", y="Miles of Pipeline", color="Operator", size="Number of Significant Incidents") +
        scale_size("SIGNIFICANT_INCIDENTS", trans=scales::trans_new("sq", sq, isq)) +
        scale_shape_manual(values=shapes)

print(plot)

In [ ]:
ggsave("../drafts/summer_paper/illustrations/large_operators.png")

sample %>%
    filter(OPERATOR_ID %in% top_5$OPERATOR_ID) %>%
    select(OPERATOR_ID, YEAR, COMMODITY, MILES, SIGNIFICANT_INCIDENTS) %>%
    mutate(COMMODITY = recode(COMMODITY, crude = "Crude Oil", 
                              hvl = "Propane, Butane, Ethylene etc.", 
                              `non-hvl` = "Gasoline, Diesel, Jet Fuel etc.")) %>%
    bind_rows(total) %>%
    filter(OPERATOR_ID == "Sunoco (Group)") %>%
    filter(COMMODITY == "Crude Oil")

sample %>%
    filter(OPERATOR_ID %in% top_5$OPERATOR_ID) %>%
    select(OPERATOR_ID, YEAR, COMMODITY, MILES, SIGNIFICANT_INCIDENTS) %>%
    mutate(COMMODITY = recode(COMMODITY, crude = "Crude Oil", 
                              hvl = "Propane, Butane, Ethylene etc.", 
                              `non-hvl` = "Gasoline, Diesel, Jet Fuel etc.")) %>%
    filter(!complete.cases(.))

sample %>%
    {table(.$SIGNIFICANT_INCIDENTS)}

sample %>%
    group_by(OPERATOR_ID) %>%
    filter(COMMODITY=='crude') %>%
    summarize(n = max(SIGNIFICANT_INCIDENTS)) %>%
    ungroup() %>%
    {table(.$n)}