# 5. Find largest observations (R)

In [1]:
library(tidyverse)
library(feather)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Load data

In [2]:
pipelines_2010 <- read_feather('../preprocessed_data/pipelines_2010_selected_2019-08-03.feather')
glimpse(pipelines_2010)

Warning message:
“Coercing int64 to double”Warning message:
“Coercing int64 to double”

Observations: 5,294
Variables: 5
$ OPERATOR_ID <dbl> 300, 300, 300, 395, 402, 473, 473, 515, 879, 994, 994, 99…
$ YEAR        <dbl> 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 201…
$ NAME        <chr> "PLAINS PIPELINE, L.P.", "PLAINS PIPELINE, L.P.", "PLAINS…
$ COMMODITY   <chr> "Crude Oil", "HVL", "Refined and/or Petroleum Product (no…
$ MILES       <dbl> 2101.060, 72.900, 0.000, 662.300, 1.550, 12.000, 0.000, 3…

## 5.1 Find largest observations

In [3]:
pipelines_2010 %>%
    group_by(OPERATOR_ID) %>%
    top_n(1, MILES) %>%
    ungroup() %>%
    top_n(10, MILES) %>%
    arrange(desc(MILES))

   OPERATOR_ID YEAR NAME
1  31618       2018 ENTERPRISE PRODUCTS OPERATING LLC
2  32109       2018 ONEOK NGL PIPELINE, LLC
3   2552       2015 COLONIAL PIPELINE CO
4   1845       2015 BUCKEYE PARTNERS, LP
5  22610       2018 MAGELLAN PIPELINE COMPANY, LP
6  15674       2016 PLANTATION PIPE LINE CO
7    300       2016 PLAINS PIPELINE, L.P.
8  11169       2017 ENBRIDGE ENERGY, LIMITED PARTNERSHIP
9  31684       2010 CONOCOPHILLIPS
10 32147       2013 MARATHON PIPE LINE LLC
   COMMODITY                                  MILES
1  HVL                                        7726.183
2  HVL                                        4531.480
3  Refined and/or Petroleum Product (non-HVL) 4500.920
4  Refined and/or Petroleum Product (non-HVL) 4266.430
5  Refined and/or Petroleum Product (non-HVL) 3926.400
6  Refined and/or Petroleum Product (non-HVL) 2564.730
7  Crude Oil                                  2312.330
8  Crude Oil                                  2290.000
9  Refined and/or Petroleum Product (non-HVL) 2283.790
10 Refined and/or Petroleum Product (non-HVL) 2281.900

#### Largest for the sum of all types

In [4]:
unique(pipelines_2010$COMMODITY)

[1] "Crude Oil"
[2] "HVL"
[3] "Refined and/or Petroleum Product (non-HVL)"
[4] "CO2"
[5] "Fuel Grade Ethanol (dedicated system)"

Check whether any operator ID has more than the maximum of five expected entries.

In [5]:
pipelines_2010 %>%
    group_by(YEAR, OPERATOR_ID) %>%
    summarize(n = n()) %>%
    ungroup() %>%
    {table(.$n)}

   1    2    3    4
3307  565  251   26

Everything seems to be A-Okay.

In [6]:
pipelines_2010 %>%
    group_by(YEAR, OPERATOR_ID) %>%
    summarize(MILES = sum(MILES), NAME = last(NAME)) %>%
    ungroup() %>%
    group_by(OPERATOR_ID) %>%
    top_n(1, MILES) %>%
    ungroup() %>%
    top_n(10, MILES) %>%
    arrange(desc(MILES))

   YEAR OPERATOR_ID MILES    NAME
1  2018 31618       8325.499 ENTERPRISE PRODUCTS OPERATING LLC
2  2018 32109       4756.610 ONEOK NGL PIPELINE, LLC
3  2014 22610       4505.500 MAGELLAN PIPELINE COMPANY, LP
4  2015  2552       4500.920 COLONIAL PIPELINE CO
5  2017 31684       4474.100 PHILLIPS 66 PIPELINE LLC
6  2015  1845       4298.290 BUCKEYE PARTNERS, LP
7  2018 32147       4037.200 MARATHON PIPE LINE LLC
8  2010 18718       3466.740 SUNOCO PIPELINE L.P.
9  2013  4906       2944.400 EXXONMOBIL PIPELINE CO
10 2013 22855       2757.450 KOCH PIPELINE COMPANY, L.P.