# 5. Gather observations (Python)

Because of name changes, we individually grab the largest observations and verify their integrity.

In [8]:
import pandas as pd
import numpy as np

## Load data

In [6]:
pipelines_2010 = pd.read_feather('../preprocessed_data/pipelines_2010_selected_2019-08-03.feather')
pipelines_2010.sample(5)

,OPERATOR_ID,YEAR,NAME,COMMODITY,MILES
2910,4430,2010,VALERO TERMINALING AND DISTRIBUTION COMPANY,Crude Oil,211.21
425,32493,2017,"UNEV PIPELINE, LLC",Refined and/or Petroleum Product (non-HVL),125.23
682,402,2011,"MARKWEST EAST TEXAS PNG UTILITY, LLC",HVL,49.00
973,31583,2011,"TESORO REFINING & MARKETING CO., MOUNTAIN REGION",Refined and/or Petroleum Product (non-HVL),22.08
5240,39189,2015,"NORTHSTAR OFFSHORE GROUP, LLC",Crude Oil,0.00

## 5.1 Find largest observations

#### Largest for one type

In [5]:
pipelines_2010.loc[pipelines_2010.groupby('OPERATOR_ID')['MILES'].idxmax()].nlargest(10, 'MILES')

,OPERATOR_ID,YEAR,NAME,COMMODITY,MILES
3631,31618,2018,ENTERPRISE PRODUCTS OPERATING LLC,HVL,7726.183
3700,32109,2018,"ONEOK NGL PIPELINE, LLC",HVL,4531.480
4708,2552,2015,COLONIAL PIPELINE CO,Refined and/or Petroleum Product (non-HVL),4500.920
4700,1845,2015,"BUCKEYE PARTNERS, LP",Refined and/or Petroleum Product (non-HVL),4266.430
3483,22610,2018,"MAGELLAN PIPELINE COMPANY, LP",Refined and/or Petroleum Product (non-HVL),3926.400
4120,15674,2016,PLANTATION PIPE LINE CO,Refined and/or Petroleum Product (non-HVL),2564.730
4020,300,2016,"PLAINS PIPELINE, L.P.",Crude Oil,2312.330
67,11169,2017,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",Crude Oil,2290.000
3186,31684,2010,CONOCOPHILLIPS,Refined and/or Petroleum Product (non-HVL),2283.790
2693,32147,2013,MARATHON PIPE LINE LLC,Refined and/or Petroleum Product (non-HVL),2281.900

#### Largest accross all types

In [10]:
list(np.unique(pipelines_2010['COMMODITY']))

['CO2',
 'Crude Oil',
 'Fuel Grade Ethanol (dedicated system)',
 'HVL',
 'Refined and/or Petroleum Product (non-HVL)']

Check whether any operator id has more than the maximum of five expected entries.

In [12]:
pipelines_2010.groupby(['OPERATOR_ID', 'YEAR']).size().value_counts()

1    3307
2     565
3     251
4      26
dtype: int64

Everything seems to be A-Okay.

In [24]:
pipelines_2010.groupby(['OPERATOR_ID', 'YEAR'])['MILES'].sum().nlargest(25)

OPERATOR_ID  YEAR
31618        2018    8325.499
             2014    8295.756
             2017    8279.868
             2015    8168.529
             2016    7965.266
             2013    7640.587
             2012    7138.500
             2011    7122.537
             2010    7065.831
32109        2018    4756.610
22610        2014    4505.500
2552         2015    4500.920
22610        2015    4493.250
2552         2016    4481.990
             2017    4481.850
31684        2017    4474.100
2552         2014    4458.600
32109        2017    4455.440
31684        2018    4425.670
22610        2018    4404.520
             2017    4403.660
2552         2018    4398.430
31684        2016    4370.970
22610        2016    4370.520
1845         2015    4298.290
Name: MILES, dtype: float64

In [52]:
largest = pipelines_2010.groupby(['OPERATOR_ID', 'YEAR'])['MILES'].sum().nlargest(25).index.get_level_values(0).unique().tolist()

In [53]:
largest

[31618, 32109, 22610, 2552, 31684, 1845]

In [58]:
pipelines_2010.loc[pipelines_2010['YEAR'] == 2018 & pipelines_2010['OPERATOR_ID'].isin(largest)]

Empty DataFrame
Columns: [OPERATOR_ID, YEAR, NAME, COMMODITY, MILES]
Index: []

In [61]:
(pipelines_2010['OPERATOR_ID'].isin(largest)

False    5162
True      132
Name: OPERATOR_ID, dtype: int64