# 9. Consolidate observations

In [527]:
sample_file = '../preprocessed_data/sample_2019-08-17.feather'
consolidate = '../preprocessed_data/consolidate_2019-08-17.pickle'
pipelines_2010_raw_file = '../data/pipelines_2010_2019-08-16.feather'

We will use some R functions for convenience.

In [528]:
import rpy2.rinterface

In [529]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [530]:
%%R
suppressPackageStartupMessages(library(tidyverse))

## Setup

In [531]:
import pandas as pd
import numpy as np
from datetime import date
from functools import partial

today = date.today().isoformat()

# Load data

In [532]:
sample = pd.read_feather(sample_file)
sample.sample(3)

,OPERATOR_ID,YEAR,NAME,COMMODITY,MILES,PARENT,INCIDENTS,SIGNIFICANT_INCIDENTS
745,32334,2016,TC OIL PIPELINE OPERATIONS INC,crude,785.830,TransCanada USA,2.0,1.0
708,32147,2012,MARATHON PIPE LINE LLC,non-hvl,2043.950,Marathon Petroleum,1.0,0.0
593,31618,2015,ENTERPRISE PRODUCTS OPERATING LLC,non-hvl,624.302,Enterprise Products Partners,5.0,1.0

In [533]:
import pickle

with open(consolidate, 'rb') as file:
    company_groups, m_as, spin_offs = pickle.load(file)

In [545]:
pd.DataFrame()

AttributeError: 'list' object has no attribute 'itemgetter'

## 9.1 Calculate absolute change

We calculate absolute change before merging to obtain more accurate data.

In [534]:
%%R -i sample
sample <- sample %>%
    group_by(OPERATOR_ID, COMMODITY) %>%
    arrange(YEAR) %>%
    mutate(CHANGE = abs(MILES - lag(MILES, 1)))

In [535]:
sample = %Rget sample
sample.sample(5)

,OPERATOR_ID,YEAR,NAME,COMMODITY,MILES,PARENT,INCIDENTS,SIGNIFICANT_INCIDENTS,CHANGE
599,38933,2016,TESORO LOGISTICS OPERATIONS LLC - SOUTHERN CAL...,crude,5.30,Marathon Petroleum,0.0,0.0,3.30
167,300,2012,"PLAINS PIPELINE, L.P.",non-hvl,265.17,Plains All American Pipeline,1.0,1.0,61.63
634,18092,2017,"SFPP, LP",non-hvl,1773.36,Kinder Morgan,5.0,3.0,5.05
614,2731,2017,CHEVRON PIPE LINE CO,crude,301.00,Chevron,0.0,0.0,0.00
444,12470,2015,MID - VALLEY PIPELINE CO,crude,662.00,Energy Transfer,1.0,1.0,6.00

## 9.2 Consolidate observations

### 9.2.1 Group observations: company_groups

In [536]:
company_groups

[{'name': 'Enterprise Products (Group)',
  'members': ['31618', '30829', '3445']},
 {'name': 'Buckeye (Group)', 'members': ['1845', '31371']},
 {'name': 'Marathon (Group)', 'members': ['32147', '22830']},
 {'name': 'Tesoro (Group)', 'members': ['38933', '39029']},
 {'name': 'Sunoco (Group)', 'members': ['18718', '12470', '39596']},
 {'name': 'Energy Transfer (Group)', 'members': ['32099', '39205']},
 {'name': 'ExxonMobil (Group)', 'members': ['4906', '12628']},
 {'name': 'NuStar', 'members': ['10012', '31454']},
 {'name': 'Kinder Morgan (Group)',
  'members': ['15674', '18092', '26125', '32258']},
 {'name': 'Enbridge (Group)', 'members': ['11169', '32080', '32502']},
 {'name': 'Plains Pipeline (Group)', 'members': ['300', '31666']},
 {'name': 'BP (Group)', 'members': ['31189', '30781']}]

In [538]:
from functools import reduce

for group in company_groups:
    new_group = sample.loc[sample['OPERATOR_ID'].isin(group['members'])]
    
    new_group_miles = new_group[['YEAR', 'COMMODITY', 'MILES']].groupby(['YEAR', 'COMMODITY']).sum()
    new_group_change = new_group[['YEAR', 'COMMODITY', 'CHANGE']].groupby(['YEAR', 'COMMODITY']).sum()
    new_group_incidents = new_group[['YEAR', 'COMMODITY', 'INCIDENTS']].groupby(['YEAR', 'INCIDENTS']).sum()
    
    new_group_dfs = [new_group_miles, new_group_change, new_group_incidents]
    new_group = reduce(lambda left, right: pd.merge(left, right, on=['YEAR', 'COMMODITY'], how='outer'), new_group_dfs)
    new_group['OPERATOR_ID'] = group['name']
    new_group['NAME'] = group['name']
    new_group['PARENT'] = 'parent'
    # new_group['YEAR'] = new_group.index
    new_group = new_group.reset_index('YEAR')
    
    sample = pd.concat([sample, new_group], sort=False, ignore_index=True)
    sample = sample.loc[~sample['OPERATOR_ID'].isin(group['members'])]

sample = sample.reset_index(drop=True)
print(sample.tail())

    OPERATOR_ID  YEAR        NAME               COMMODITY  MILES  PARENT  \
771  BP (Group)  2015  BP (Group)       non-hvlhvlnon-hvl    NaN  parent
772  BP (Group)  2016  BP (Group)              hvlnon-hvl    NaN  parent
773  BP (Group)  2017  BP (Group)              hvlnon-hvl    NaN  parent
774  BP (Group)  2017  BP (Group)            non-hvlcrude    NaN  parent
775  BP (Group)  2018  BP (Group)  non-hvlcrudehvlnon-hvl    NaN  parent

     INCIDENTS  SIGNIFICANT_INCIDENTS  CHANGE
771        NaN                    NaN     NaN
772        NaN                    NaN     NaN
773        NaN                    NaN     NaN
774        NaN                    NaN     NaN
775        NaN                    NaN     NaN

### 9.2.2 Group observations: m_as

In [540]:
m_as[:1]

[{'name': 'Marathon (Group)',
  'members': ['Marathon (Group)', 'Tesoro (Group)'],
  'start_year': '2018'}]

In [541]:
for group in m_as[:1]:
    observations = [sample[sample['OPERATOR_ID'] == member] for member in group['members']]
    new_group = pd.concat(observations)
    
    if 'start_year' in group:
        observations = new_group.loc[new_group['YEAR'] >= int(group['start_year'])]
    if 'end_year' in group:
        observations = new_group.loc[new_group['YEAR'] < int(group['start_year'])]
    
    print(new_group)

          OPERATOR_ID  YEAR              NAME            COMMODITY    MILES  \
439  Marathon (Group)  2010  Marathon (Group)                crude   805.60
440  Marathon (Group)  2010  Marathon (Group)                  hvl    63.60
441  Marathon (Group)  2010  Marathon (Group)              non-hvl  2653.13
442  Marathon (Group)  2011  Marathon (Group)                crude   824.20
443  Marathon (Group)  2011  Marathon (Group)                  hvl    64.00
444  Marathon (Group)  2011  Marathon (Group)              non-hvl  2617.23
445  Marathon (Group)  2011  Marathon (Group)              non-hvl  2617.23
446  Marathon (Group)  2012  Marathon (Group)                crude   826.50
447  Marathon (Group)  2012  Marathon (Group)                  hvl    64.50
448  Marathon (Group)  2012  Marathon (Group)              non-hvl  2579.06
449  Marathon (Group)  2013  Marathon (Group)                crude  1234.50
450  Marathon (Group)  2013  Marathon (Group)                  hvl   168.20
451  Marathon (Group)  2013  Marathon (Group)              non-hvl  2857.84
452  Marathon (Group)  2013  Marathon (Group)              non-hvl  2857.84
453  Marathon (Group)  2014  Marathon (Group)                crude  1246.80
454  Marathon (Group)  2014  Marathon (Group)                  hvl   168.10
455  Marathon (Group)  2014  Marathon (Group)              non-hvl  2793.89
456  Marathon (Group)  2014  Marathon (Group)              non-hvl  2793.89
457  Marathon (Group)  2015  Marathon (Group)                crude  1247.80
458  Marathon (Group)  2015  Marathon (Group)                  hvl   168.10
459  Marathon (Group)  2015  Marathon (Group)              non-hvl  2751.39
460  Marathon (Group)  2015  Marathon (Group)              non-hvl  2751.39
461  Marathon (Group)  2016  Marathon (Group)                crude  1268.10
462  Marathon (Group)  2016  Marathon (Group)                  hvl   167.10
463  Marathon (Group)  2016  Marathon (Group)              non-hvl  2675.49
464  Marathon (Group)  2017  Marathon (Group)                crude  1594.20
465  Marathon (Group)  2017  Marathon (Group)                  hvl   167.10
466  Marathon (Group)  2017  Marathon (Group)              non-hvl  2582.95
467  Marathon (Group)  2017  Marathon (Group)              non-hvl  2582.95
468  Marathon (Group)  2018  Marathon (Group)                crude  1605.30
469  Marathon (Group)  2018  Marathon (Group)                  hvl   170.80
470  Marathon (Group)  2018  Marathon (Group)              non-hvl  2774.99
471  Marathon (Group)  2010  Marathon (Group)           non-hvlhvl      NaN
472  Marathon (Group)  2012  Marathon (Group)           hvlnon-hvl      NaN
473  Marathon (Group)  2016  Marathon (Group)           hvlnon-hvl      NaN
474  Marathon (Group)  2018  Marathon (Group)           non-hvlhvl      NaN
475    Tesoro (Group)  2012    Tesoro (Group)                crude     2.10
476    Tesoro (Group)  2012    Tesoro (Group)              non-hvl    13.40
477    Tesoro (Group)  2013    Tesoro (Group)                crude     2.10
478    Tesoro (Group)  2013    Tesoro (Group)              non-hvl   504.40
479    Tesoro (Group)  2014    Tesoro (Group)                crude     2.10
480    Tesoro (Group)  2014    Tesoro (Group)              non-hvl   480.30
481    Tesoro (Group)  2015    Tesoro (Group)                crude     2.00
482    Tesoro (Group)  2015    Tesoro (Group)              non-hvl   480.20
483    Tesoro (Group)  2016    Tesoro (Group)                crude     5.30
484    Tesoro (Group)  2016    Tesoro (Group)              non-hvl   494.40
485    Tesoro (Group)  2017    Tesoro (Group)                crude     8.60
486    Tesoro (Group)  2017    Tesoro (Group)              non-hvl   490.57
487    Tesoro (Group)  2018    Tesoro (Group)                crude   263.50
488    Tesoro (Group)  2018    Tesoro (Group)                  hvl     9.90
489    Tesoro (Group)  2018    Tesoro (Group)              non-hvl   657.30
490    Tesoro (Group)  2012    Tesoro (Group)         crudenon-hvl      NaN
491    Tesoro (Group)  2013    Tesoro (Group)         crudenon-hvl      NaN
492    Tesoro (Group)  2014    Tesoro (Group)  crudenon-hvlnon-hvl      NaN
493    Tesoro (Group)  2015    Tesoro (Group)         crudenon-hvl      NaN
494    Tesoro (Group)  2016    Tesoro (Group)         crudenon-hvl      NaN
495    Tesoro (Group)  2017    Tesoro (Group)  crudenon-hvlnon-hvl      NaN
496    Tesoro (Group)  2018    Tesoro (Group)      crudehvlnon-hvl      NaN

     PARENT  INCIDENTS  SIGNIFICANT_INCIDENTS  CHANGE
439  parent        NaN                    NaN    0.00
440  parent        NaN                    NaN    0.00
441  parent        NaN                    NaN    0.00
442  parent        NaN                    NaN   18.60
443  parent        NaN                    NaN    0.40
444  parent        NaN                    NaN   35.90
445  parent        NaN                    NaN   35.90
446  parent        NaN                    NaN    2.30
447  parent        NaN                    NaN    0.50
448  parent        NaN                    NaN   38.17
449  parent        NaN                    NaN  408.00
450  parent        NaN                    NaN  103.70
451  parent        NaN                    NaN  278.78
452  parent        NaN                    NaN  278.78
453  parent        NaN                    NaN   12.30
454  parent        NaN                    NaN    0.10
455  parent        NaN                    NaN   63.95
456  parent        NaN                    NaN   63.95
457  parent        NaN                    NaN    1.00
458  parent        NaN                    NaN    0.00
459  parent        NaN                    NaN   42.50
460  parent        NaN                    NaN   42.50
461  parent        NaN                    NaN   20.30
462  parent        NaN                    NaN    1.00
463  parent        NaN                    NaN   75.90
464  parent        NaN                    NaN  326.10
465  parent        NaN                    NaN    0.00
466  parent        NaN                    NaN  142.74
467  parent        NaN                    NaN  142.74
468  parent        NaN                    NaN   11.10
469  parent        NaN                    NaN    3.70
470  parent        NaN                    NaN  192.04
471  parent        NaN                    NaN     NaN
472  parent        NaN                    NaN     NaN
473  parent        NaN                    NaN     NaN
474  parent        NaN                    NaN     NaN
475  parent        NaN                    NaN    0.00
476  parent        NaN                    NaN    0.00
477  parent        NaN                    NaN    0.00
478  parent        NaN                    NaN    0.00
479  parent        NaN                    NaN    0.00
480  parent        NaN                    NaN   24.10
481  parent        NaN                    NaN    0.10
482  parent        NaN                    NaN    0.10
483  parent        NaN                    NaN    3.30
484  parent        NaN                    NaN   20.40
485  parent        NaN                    NaN    3.30
486  parent        NaN                    NaN    3.83
487  parent        NaN                    NaN  254.90
488  parent        NaN                    NaN    0.00
489  parent        NaN                    NaN  650.93
490  parent        NaN                    NaN     NaN
491  parent        NaN                    NaN     NaN
492  parent        NaN                    NaN     NaN
493  parent        NaN                    NaN     NaN
494  parent        NaN                    NaN     NaN
495  parent        NaN                    NaN     NaN
496  parent        NaN                    NaN     NaN

In [542]:
sample[sample['YEAR'].isna()]

Empty DataFrame
Columns: [OPERATOR_ID, YEAR, NAME, COMMODITY, MILES, PARENT, INCIDENTS, SIGNIFICANT_INCIDENTS, CHANGE]
Index: []